@import url("https://fonts.googleapis.com/css2?family=Seymour+One&family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seymour+One&family=Sigmar+One&family=Work+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(255, 81, 0);
  --secondary: rgb(126, 109, 194);
  --button: rgb(255, 165, 0);
  --pur: rgb(12, 12, 182);
  --wheat: wheat;
  --or: rgb(227, 158, 53);
  --lightblue: #9255fb;
  --white: white;
  --pu: rgba(128, 0, 128, 0.1);
}

#first {
  background: linear-gradient(300deg, var(--primary), var(--secondary));
}
nav {
  background: linear-gradient(300deg, var(--primary), var(--secondary));
}

.header-main-section {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
}
.logo {
  align-self: center;
  font-family: "seymour one";
  color: var(--or);

}

.header-menu {
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 3rem 0 8rem;
  gap: 3rem;

}
a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: #f0eef3;
}

html {
  scroll-behavior: smooth;
}

.header-menu>.button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}


.slide1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 2rem;
  gap: 2rem;
  width: 90%;
  position: relative;
  height: 60vh;

}
.first-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.first-left-heading {
  width: 95%;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  height:80px;
  padding: 5px 1px;
  
}


.words>span{
  font-size: 1.5rem;
  box-sizing:content-box;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
font-weight: 600;
font-size: 2rem;
width: 10vw;
padding-left: 10px;
padding: 20% 0;
height: 5vh;
  color:orange;
  gap: 5vh;
  animation: spin_words 3s infinite;


}

.words>span{
  font-size: 1.5rem;
  box-sizing:content-box;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
font-weight: 600;
font-size: 1.5rem;
width: 7.5vw;
padding: 10% 0 10% 10%;
  color:orange;
  animation: spin_words 3s infinite 0;


}
.words{
  overflow: hidden;
}
@keyframes spin_words{
  10% {
      transform: translateY(100%);
    }
    
    100% {
      transform: translateY(-400%);
    }
}
.first-left-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
width: 80%;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}
.explore-more>button{
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
 
}
.button-and-lable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}
.label-of-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: white;
  font-weight: 500;
}
.play-button {
  font-size: medium;

  background-color: white;
  border: 4px solid rgba(210, 190, 190, 0.878);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 13px;
  background: #fff;
}
.play-button > a {
  color: orange;
}

.first-right {
  height: 100%;
  position: relative;
  right: 0;
  bottom: -5;
}
.around-image-cont {
  display: inline-block;
  transform: translate(-15%, 4%);

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  height: 100%;
}
.image-container {
  width: 50%;
  height: 78%;
  border-radius: 15rem 15rem 3rem 3rem;
  border: 10px solid gainsboro;
  box-shadow: #c7c5f7 0px 54px 55px, #c7c5f7 0px -12px 30px, #c7c5f7 0px 4px 6px,
    #c7c5f7 0px 12px 13px, #c7c5f7 0px -3px 5px;
      background-color: #c7c5f7;
  position: relative;
}
.image-container > img {
  height: 141%;
  width: 130%;
  transform: translate(-10%, -29%);

  object-position: center;
  object-fit: cover;
}
#second {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 0 1.5rem 0;
}
.second-title {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: space-between;

}
.title-and-icon {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 50%;

}
.next-prev-button {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  justify-content: space-between;

}
.prev,
.next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  font-size: x-small;
  align-self: center;

}
.prev {
  background-color: white;
  color: rgb(220, 214, 214);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: no-drop;

}
.next {
  background-color: white;
  color: purple;
  font-weight: bolder;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 3px solid gainsboro;
  cursor: pointer;

}

.crown-icon {
  background: linear-gradient(300deg, var(--pur), var(--secondary));
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 30%;

}
.title-itself {
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;

}
.second-slider {
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 60vh;

}
.parent-slider {
  display: flex;
  flex-direction: row;
  background: rgb(97, 70, 204);
  border-radius: 1rem;
  justify-content: space-around;
  border: 8px solid gainsboro;
  padding: 0.5rem;
  height: 40vh;

}
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:21vw;
  
}

.recipe:hover {
  cursor: pointer;
  background: linear-gradient(300deg, var(--button), var(--wheat));
  border-radius: 1rem;
  transform: scale(1, 1.5);
  color: brown;
  padding: 0.6rem 1rem 0.6rem 2rem;

}

.recipe:hover .box-heading,
.recipe:hover .box-describtion, .recipe:hover .learnmore {

  color: brown;
  display: flex;
  flex-direction: column;

}

.recipe-icon {
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 30%;
  border: 3px solid gainsboro;
  align-self: center;

}
.box-heading {
  color: white;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  align-self: center;

}

.box-describtion {
  font-size: medium;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  align-self: center;
  margin: 0 1rem 1rem 1rem;
  text-align: center;

}
 

.learnmore {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-self: center;
  display: none;
margin-bottom: 0.6rem;
  text-align: center;
}

.recipe:hover .learnmore {
  display: block;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

#third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  height: 100%;
  

}
.third-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
  padding: 2rem 2rem 2rem 2rem;


}
.icon-and-title-third {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.third-icon {
  background: linear-gradient(300deg, var(--pur), var(--secondary));
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 30%;

}
.third-title {
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  align-self: center;

}
.our-values-describtion > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(154, 114, 154);
  font-weight: 500;
  text-align: justify;

}
.our-values-categories {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 1;
  margin-top: 2rem;

}
.first-two,
.second-two {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;

}

.become-healthier,
.increase-energy,
.controlling-weight,
.become-happier {
  display: flex;
  width: 20vw;
  flex-direction: column;
  position: relative;
  padding: 0 0.5rem 1.5rem 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  background: rgba(237, 232, 232, 0.89);

}
.become-healthier:hover,
.increase-energy:hover,
.controlling-weight:hover,
.become-happier:hover {
  background: white;

}
.top-icon {
  position: absolute;
  top: -2vh;
  left: 1.5vw;
  background: linear-gradient(300deg, var(--pur), var(--secondary));
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 30%;
  color: white;

}
.become-healthier:hover .top-icon,
.increase-energy:hover .top-icon,
.controlling-weight:hover .top-icon,
.become-happier:hover .top-icon {
  background: linear-gradient(120deg, var(--white), var(--button));
  color: white;

}
.cat-title {
  margin-top: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: purple;

}
.cat-describtion {
  margin-top: 0.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(154, 114, 154);
  text-align: justify;
  font-size: small;

}

.third-left {
  width: 50%;

}

.around-image-cont-3 {
  display: inline-block;
  transform: translate(10%, 6%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.image-container-3 {
  width: 75%;
  height: 78%;
  border-radius: 15rem 15rem 3rem 3rem;
  border: 10px solid gainsboro;
  box-shadow: #c7c5f7 0px 54px 55px, #c7c5f7 0px -12px 30px, #c7c5f7 0px 4px 6px,
    #c7c5f7 0px 12px 13px, #c7c5f7 0px -3px 5px;
      background-color: #c7c5f7;
  position: relative;

}

.image-container-3 > img {
  height: 141%;
  width: 130%;
  transform: translate(-10%, -29%);

  object-position: center;
  object-fit: cover;

}

#forth {
  padding: 2rem;
}
.forth-container {
  background: linear-gradient(300deg, var(--secondary), var(--lightblue));
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 8px solid gainsboro;
  border-radius: 1rem;
  align-items: center;
}
.forth-icon {
  background: linear-gradient(300deg, var(--secondary), var(--lightblue));
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 30%;
  display: inline-block;
  align-self: center;
  border: 2px solid gainsboro;
}

.forth-title {
  font-family: "Work Sans", sans-serif;
  color: white;
}
.forth-describtion {
  font-family: "Work Sans", sans-serif;
  color: white;
  text-align: justify;
  font-size: large;
}
.button-get-started > a{
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
}
#fifth {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  height: 100vh;
  margin-bottom:  2rem;
}
.fifth-intro {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30vh;

}
.fifth-intro-icon-and-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

}
.fifth-icon {
  background: linear-gradient(300deg, var(--secondary), var(--lightblue));
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 30%;
  color: rgb(215, 192, 146);
  font-size: x-large;

}
.fifth-title {
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;

}
.fifth-describtion {
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(99, 96, 96);
  font-weight: 500;
  text-align: justify;
  margin-bottom: 2rem;

}
.menu-and-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  height: 68vh;
}
.fifth-left{
  width: 40%;
}
.fifth-right{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;


}

.fifth-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 90%;
  box-shadow: gainsboro 0px 54px 55px, gainsboro 0px -12px 30px,
    gainsboro 0px 4px 6px, gainsboro 0px 12px 13px, gainsboro 0px -3px 5px; 
  align-items: center;
  overflow-y: auto;
  padding: 1rem;
  width: 90%;

}
.child-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  border-radius: 10px;
  background: #f9f1fe;
  width: 20vw;

}
.child-menu:hover {
  background: white;

}
.child-menu:hover .child-menu-icon {
  background: linear-gradient(120deg, var(--white), var(--button));

}
.child-menu:hover .child-menu-title {
  color: #afacef;

}
.child-menu-icon {
  background: linear-gradient(300deg, var(--secondary), var(--lightblue));
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  border-radius: 30%;
  color: white;

}
.child-menu-title {
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;

}
.fifth-menu::-webkit-scrollbar {
  width: 10px;
  color: purple;

}
.fifth-menu::-webkit-scrollbar-track {
  border-radius: 10px;

  color: purple;

}
.fifth-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  color: purple;
  background-color: purple;

}

.fifth-slider {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 100%;

}
.fifth-slider-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-right: 2rem;
  justify-content: right;

}

.fifth-slider-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  height: 100%;
  align-items: center;

}
.fifth-image-container {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 10px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;

}
.fifth-image-container:hover  {
  background: #f9f1fe;
  border: 10px solid #f9f1fe;
  cursor: pointer;

}
.slider-button-button>a{
  color:blue
}
.fifth-image-container:hover .slider-button-button {
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;


}
.fifth-slider-img {
  width: 20rem;
  height: 11rem;
  background: #afacef;

}
.fifth-slider-img > img {
  height: 10rem;
  width: 10rem;
  padding: 0.5rem;
  margin-left: 1.8rem;
  margin-top: 0.3rem;
  border-radius: 50%;

}
.fifth-slider-describtion {
  margin-top: 3vh;
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  text-align: center;

}
.slider-button-button{
  margin: 3px;
  padding: 8px 14px;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;

 
}


.slider-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: -1vw;
  width: 19vw;
align-self: center;
}

.fifth-slider-buttons > .nextb,
.fifth-slider-buttons > .prevb {
  background-color: white;
  color: rgb(220, 214, 214);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  color: purple;
  font-weight: bolder;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  font-size: x-small;
  align-self: center;

}

#sixth {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  margin-top: 2rem;

}

.sixth-title {
  color: purple;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  align-self: center;

}

.sixth-desc {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(154, 114, 154);
  font-weight: 400;
  text-align: justify;
  font-size: 14px;
}
.sixth-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;

}

.sixth-slider-icon-title-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem 0 0;
  width: 32vw;


  
}
.sixth-icon-title {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  
}
.sixth-icon-desc {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

}
.sixth-icon-title > .child-menu-icon {
  align-self: center;
}
.sixth-slider {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  background: #f9f1fe;
  width: 30vw;
  height: 20vh;


}


.sixth-slider > .child-menu-icon {
  position: absolute;
  top: -4vh;
  left: 2vw;
}

.sixth-slider-desc {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(154, 114, 154);
  font-weight: 400;
  text-align: justify;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  width: 30vw;
  height: 12vh;
}

.sixth-name-major {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
    height: 12vh;
    width: 30vw;
    margin-top:2vh;

}

.sixth-name-major > h4 {
  color: rgb(126, 72, 126);
  width: 20vw;
  height: 4vh;
}
.sixth-name-major > p {
  font-size: 11px;
  color: gray;
  font-weight: bold;
  width: 20vw;
  height: 3vh;
}
.sixth-slider-buttons {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 6vh;
  right: 2vw;
}
.sixth-slider-buttons > .nexts,
.sixth-slider-buttons > .prevs {
  background-color: white;
  color: rgb(220, 214, 214);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  color: purple;
  font-weight: bolder;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  font-size: 5px;
  padding: 0.2rem;
  align-self: center;
  align-self: center;
}
footer {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 4rem 2rem;
  gap: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  background: linear-gradient(160deg, var(--pu), var(--white));
}
.footer-main {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
.footer-eatly-des {
  display: flex;
  flex-direction: column;
  color: #a46ffd;
}
.footer-eatly-des > p {
  color: #a49ab0;
  padding: 0.2rem 2rem 2rem 0;
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 13vw;
  padding: 0 0 2rem 0;
}
.sec > .sec-title {
  color: #a46ffd;
}
.sec > .sec-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #a49ab0;
  align-items: center;
}
.inte-pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #a49ab0;
  margin-top: 1rem;
}
.terms {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.to-top{
  position:fixed;
  bottom: 15px;
  right: 5px;
  font-size: xx-large;
 cursor: pointer;
transition: .2s;
opacity: 0;

}
.to-top.show{
  bottom:15px;
  z-index: 10;
  right: 5px;

  pointer-events: auto;
  opacity:1;
 
}

/* @media (max/min width)  */

@media (max-width: 600px) {
  .header-main-section {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
    width: 100vw;
    height: 10vh;
  }
  .logo {
    align-self: center;
    font-family: "seymour one";
    color: var(--or);
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.6rem;
  }

  .button {
    margin: 10px;
    padding: 7.5px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .button:active {
    transform: scale(0.95);
  }

  .slide1 {
   
    padding: 0 1rem;
    width: 90vw;
  }
  .first-left {
    display: flex;
    flex-direction: column;
    width: 46vw;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .header-menu>.button {
    margin: 5px;
    padding: 7.5px 16px;
  
  }
  .explore-more>button{
    width: 100%;
    margin: 2.5px;
    padding: 4px 4px;
}
 
  
  .first-left-desc {
  
width:80%;
align-self: flex-start;
    font-size: 13px;
text-align: justify;  

  
  }
  .first-left-heading {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24vh;
    margin: 0;
    align-items: flex-start;
    
  }
 
  
  .words>span{
    box-sizing:content-box;
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  width: 15vw;
  padding-left: 10px;
  height: 10vh;
    color:orange;
    animation: spin_words 5s infinite ;
  
  }
  .words{
    overflow: hidden;
  }
  @keyframes spin_words{
    10% {
        transform: translateY(100%);
      }

      50% {
        transform: translateY(-200%);
      }
      75% {
        transform: translateY(-300%);
      }
      100% {
        transform: translateY(-400%);
      }
  }
  
  .buttons {
  margin-bottom: 1rem;
    gap: 0.5rem;
    border: #f9f1fe;
    justify-content: space-between;
    align-items: center;

  }
  .button-and-lable {
    gap: 0.5rem;
  }
  .label-of-button {
   
    font-size: x-small;
  }
  .play-button {
    font-size: small;

    border: 2px solid rgba(210, 190, 190, 0.878);
   
    width: 30px;
    height: 30px;
    padding: 3px;
    background: #fff;
  }
 

  .first-right {
    width: 50vw;
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .around-image-cont {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    height: 100%;
  transform: translate(-1%, 4%);

  }
  .image-container {
    width: 50%;
    height: 78%;
    border-radius: 15rem 15rem 3rem 3rem;
    border: 10px solid gainsboro;
    box-shadow: #c7c5f7 0px 54px 55px, #c7c5f7 0px -12px 30px, #c7c5f7 0px 4px 6px,
      #c7c5f7 0px 12px 13px, #c7c5f7 0px -3px 5px;
    background-color: #c7c5f7;
    position: relative;
  }
  
  .image-container > img {
    height: 140%;
    width: 130%;
    transform: translate(-5%, -28%);

    object-position: center;
    object-fit: cover;
  }
  #second {
    gap: 1rem;
    padding: 1rem 0 1rem 0;
  }
  .second-title {
    padding: 0;
  }
  .title-and-icon {
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .next-prev-button {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
  }
  .prev,
  .next {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    font-size: 6px;
    padding: 0.1rem;
  }

  .crown-icon {
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    border-radius: 30%;
    align-self: center;
  }
  .title-itself {
    font-size: x-small;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  }
  .second-slider {
    padding: 1rem;
    height: 50vh;
    
  }
  .parent-slider {
    
    padding: 0.5rem;
    height: 40vh;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    width: 20vw;
    align-items: center;
    position: relative;
  }
  .box-describtion {
    font-size: x-small;
  }

  .recipe:hover {
  border-radius: 1rem;
  color: brown;
  padding: 0.3rem 0.5rem 0.3rem 1rem;
    
  }

  
  .recipe:hover .box-heading,
  .recipe:hover .box-describtion .recipe:hover .learnmore {
    color: brown;
    display: flex;
    flex-direction: column;
  
  }
  
  .recipe-icon {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: 9px;
    border: 3px solid gainsboro;
    align-self: center;
  
  }

  .box-describtion:hover{
    color: brown;
  } 
  .learnmore {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-self: center;
    display: none;
  margin-bottom: 0;
    text-align: center;
  }
  
  .recipe:hover .learnmore {
    display: flex;
    flex-direction: row;
    gap: 0;
    position: absolute;
    bottom:0 ;
  }

  #third {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height:100vh;
    justify-content: space-between;
    padding: 0 ;
  }
  .third-right {
    display: flex;
    gap: 1.5rem;
    width: 50vw;
    height: 100%;
    padding: 0 0.5rem;
  }
  .icon-and-title-third {
    gap: 0.3rem;
  }

  .third-icon {
    background: linear-gradient(300deg, var(--pur), var(--secondary));
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: 15%;
  }
  .third-title {
    color: purple;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    align-self: center;
  }
  .our-values-describtion > p {
    font-size: 12px;
    font-weight: 800;
    text-align: justify;
    margin-bottom: 0.3rem;
  }
  .our-values-categories {
    gap: 0;
    height: 70vh;
    margin-top: 1rem;
    gap: 1rem;
  }
  .first-two,
  .second-two {
    display: flex;
    flex-direction: row;
    height: 30vh;
    justify-content: space-between;
  }
 
  .become-healthier,
  .increase-energy,
  .controlling-weight,
  .become-happier {
    width: 20vw;
    height: 30vh;

    padding: 0;
  }

  .top-icon {
    top: -3vh;
    left: 1.5vw;
  }

  .cat-title {
    margin: 1.5rem 0 0 0.5rem;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: purple;
  }
  .cat-describtion {
    text-align: start;
    font-size: 10px;
    margin: 0.6rem 0.1rem 0 0.2rem;
  }

  .third-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
  }
  .around-image-cont-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 90%;
  }
  .image-container-3 {
    width: 90%;
    border-radius: 15rem 15rem 0 0;
    border: 10px solid gray;
    background-color: #c7c5f7;
    position: relative;
    box-shadow: #c7c5f7 0px 54px 55px, #c7c5f7 0px -12px 30px,
      #c7c5f7 0px 4px 6px, #c7c5f7 0px 12px 13px, #c7c5f7 0px -3px 5px; 
  }

  .image-container-3 > img {
    height: 140%;
    width: 100%;
    transform: translate(5%, -28%);

    object-position: center;
    object-fit: cover;
  }

  #fifth {
    padding: 0;
    gap: 0 0.5rem;
  }
 
 
  .fifth-intro-icon-and-title {
    gap: 0.5rem;

  }
  .fifth-icon {
    padding: 0.2rem 0.4rem;

    font-size: x-large;
    margin-top: 0.3rem;
  }
  .fifth-title {
    font-size: small;
  }
  .fifth-describtion {
    margin-bottom: 0.5rem;
    font-size: small;
    
  }
  .fifth-describtion>p{
    margin-right:1rem;
  }
  .menu-and-slider {
  
    gap: 0.5rem;
    height: 67vh;
  }
  .fifth-left{
    width: 40%;
  }
  .fifth-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  
  
  }
  
  
  .child-menu {
   
    gap: 0.52rem;
    
    padding: 0.6rem;
 
    width: 27vw;
    font-size: small;

  
  }
 
  
  .fifth-slider {
   
    width: 100%;
    height: 63vh;
  
  
  }

  
  
  
  .fifth-image-container {
  
    width: 7.5rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 15rem 15rem 5rem 5rem;
    border: 10px solid white;
  
  }

  .slider-button-button>a{
    color:blue
  }
  .fifth-image-container:hover .slider-button-button {
    background: white;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  
  
  }
  .fifth-slider-img {
    width: 10rem;
    height: 7rem;
    background: #afacef;
  
  }
  .fifth-slider-img > img {
    height: 5rem;
    width: 5rem;
    padding:0;
    margin-top: 1.3rem;
    margin-left: 1.2rem;
    

  
  }
  .fifth-slider-describtion {
    margin-top: 0;
    
    height: 15vh;
    font-size: small;
  
  }
 
  
  
  
  
  #sixth {
    gap: 1rem;
    padding: 0 0.6rem 0 0.6rem;
  }
  
  .sixth-title {
    font-size: x-small;

  }
  
  .sixth-desc {

    color: rgb(154, 114, 154);
 
    font-size: 12px;
    margin-bottom: 0.2rem;

  }
  .sixth-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    padding: 0.6rem;
    align-items: center;
    justify-content: space-between;

  }
  
  .sixth-slider-icon-title-desc {
    width: 40vw;
    
    gap: 0.5rem;
    padding: 0.5rem 0.2rem 0 0.5rem;

  }
  .sixth-icon-title {
    
    gap: .5rem;

  }


  .sixth-slider {
 
    padding: 1.2rem 0.5rem 1rem 0.5rem;
    
    width: 40vw;
    height: 20vh;

  }
  .sixth-slider > .child-menu-icon {
    top: -5vh;


  }
  .sixth-slider-desc {

    font-size: 10px;

    width: 40vw;
    height: 12vh;


  }
  .sixth-name-major {
    height: 10vh;
    width: 40vw;



  }
  .sixth-name-major > h4 {
    width: 40vw;
    height: 4vh;

  }
  .sixth-name-major > p {

    width: 40vw;
    height: 3vh;

  }
  .sixth-slider-buttons {
    bottom: 2vh;
    right: 2vw;

  }



  footer {
    padding: 1rem 1rem 1rem 1rem;
 margin-top: 2rem;
 }
  .footer-main {
    gap: 1rem;

  }
  .footer-eatly-des {
    display: flex;
    flex-direction: column;
    color: #a46ffd;

  }
  .footer-eatly-des > p {
    padding: 0.2rem 1rem 1rem 0;
    font-size: x-small;
font-weight: bold;

  }
  .footer-content {
    
    gap: 1rem;

  }
  .sec {
   
   padding: 0;
   width: 14vw;
  }
  .sec > .sec-title {
    font-size: smaller;

  }
  .sec > .sec-list {
font-size: x-small;    

  }
  .inte-pro {
  
    align-items: center;

  }
  
}
